
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(217, 217, 217); /* 60% */
  --secondary: rgb(14, 14, 14); /* 30% */
  --accent: rgb(160, 160, 160); /* 10% */
}

body {  
  background-color: var(--primary);
}

#playlist,
.buttonReset{
  display: none;
}